<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shop.mapper.YygUserPhotoAblumMapper">
  <resultMap id="BaseResultMap" type="cn.com.shop.entity.YygUserPhotoAblum">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createById" jdbcType="BIGINT" property="createbyid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="deleteStatus" jdbcType="BIT" property="deletestatus" />
    <result column="lastModifyBy" jdbcType="VARCHAR" property="lastmodifyby" />
    <result column="lastModifyById" jdbcType="BIGINT" property="lastmodifybyid" />
    <result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentId" jdbcType="BIGINT" property="parentid" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createBy, createById, createTime, deleteStatus, lastModifyBy, lastModifyById, 
    lastModifyTime, version, name, parentId, userId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyg_user_photo_ablum
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yyg_user_photo_ablum
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.shop.entity.YygUserPhotoAblum">
    insert into yyg_user_photo_ablum (id, createBy, createById, 
      createTime, deleteStatus, lastModifyBy, 
      lastModifyById, lastModifyTime, version, 
      name, parentId, userId
      )
    values (#{id,jdbcType=BIGINT}, #{createby,jdbcType=VARCHAR}, #{createbyid,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{lastmodifyby,jdbcType=VARCHAR}, 
      #{lastmodifybyid,jdbcType=BIGINT}, #{lastmodifytime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.shop.entity.YygUserPhotoAblum">
    insert into yyg_user_photo_ablum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createby != null">
        createBy,
      </if>
      <if test="createbyid != null">
        createById,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="deletestatus != null">
        deleteStatus,
      </if>
      <if test="lastmodifyby != null">
        lastModifyBy,
      </if>
      <if test="lastmodifybyid != null">
        lastModifyById,
      </if>
      <if test="lastmodifytime != null">
        lastModifyTime,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
      <if test="userid != null">
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createbyid != null">
        #{createbyid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="lastmodifyby != null">
        #{lastmodifyby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifybyid != null">
        #{lastmodifybyid,jdbcType=BIGINT},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.shop.entity.YygUserPhotoAblum">
    update yyg_user_photo_ablum
    <set>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createbyid != null">
        createById = #{createbyid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="lastmodifyby != null">
        lastModifyBy = #{lastmodifyby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifybyid != null">
        lastModifyById = #{lastmodifybyid,jdbcType=BIGINT},
      </if>
      <if test="lastmodifytime != null">
        lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.shop.entity.YygUserPhotoAblum">
    update yyg_user_photo_ablum
    set createBy = #{createby,jdbcType=VARCHAR},
      createById = #{createbyid,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      lastModifyBy = #{lastmodifyby,jdbcType=VARCHAR},
      lastModifyById = #{lastmodifybyid,jdbcType=BIGINT},
      lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=BIGINT},
      userId = #{userid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>